{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}
{% block icon %}
    <link rel="icon" type="image/png" size="32" href="https://img.icons8.com/3d-fluency/1500w/shopping-bag.png" data-hid="63b4eb3">
{% endblock %}

{% block body %}

    <div class="container py-5">
        <h1>{{ category.name }}</h1>
        <p>cette categprie contient {{ category.products|length }} produit</p>
        <div class="row">
            {% for product in category.products %}
                <div class="col-md-4 col-12 col-sm-6 col-lg-3 col h-50 mb-4">
                    <a href="" class="product_category">
                        <div class="image">
                            <img src="/uploads/{{ product.image }}" alt="product.name">
                        </div>
                        <div class="product_info">
                            <strong>{{ product.name }}</strong>
                            <span class="d-block">{{ product.PriceWt|number_format(0, '',' ') }}DH </span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
